<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <h1>Halaman Register</h1>
    <form method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name"> <br>
        {{ with .Errors.Name }}
            <div class="alert alert-danger">
                {{.}}
            </div>
        {{ end }}
        <label for="email">Email: </label>
        <input type="text" name="email"> <br>
        {{ with .Errors.Email }}
            <div class="alert alert-danger">
                {{.}}
            </div>
        {{ end }}
        <label for="password">Password: </label>
        <input type="password" name="password"> <br>
        {{ with .Errors.Password }}
            <div class="alert alert-danger">
                {{.}}
            </div>
        {{ end }}
        <input type="submit" value="Daftar">
    </form>
</body>
</html>