<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="sidebar">
    <a href="/pemohon/dashboard">Dashboard</a>
    <a href="/pemohon/profile">Profil</a>
    <a href="/pemohon/permohonan">Permohonan</a>
</div>

<main>
    {{embed}}
</main>
</body>
</html>
