<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
</head>
<h1>User Profile</h1>
{{if .message}}
  {{.message}}
{{end}}
<form method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <div class="label-and-profile">
      <label for="profile-image">Foto Diri:</label>
      <div class="profile-image">
        {{if .User.ImageUrl }}
          <img src="{{.User.ImageUrl}}" alt="Profile Image">
        {{else}}
          <img src="/img/default-profile.png" alt="Profile Image">
        {{end}}

      </div>
    </div>
    <div class="input-file">
      <input type="file" id="profile-image" name="profile_image" accept="image/*">
      <small>Pilih foto baru</small>
    </div>
  </div>

  <label for="name">Name: </label>
  <input type="text" name="name" value="{{.User.Name}}"> <br>
  {{ with .Errors.Name }}
    <div class="alert alert-danger">
      {{.}}
    </div>
  {{ end }}
  <label for="email">Email: </label>
  <input type="text" disabled value="{{.User.Email}}"> <br>
  {{ with .Errors.Email }}
    <div class="alert alert-danger">
      {{.}}
    </div>
  {{ end }}

  <input type="submit" value="Simpan Perubahan"/>
</form>
</body>
</html>